
@{
    ViewBag.Title = "ViewAllUser";
    Layout = "~/Views/Shared/_OuterLayout.cshtml";
}

<center>
    <div class="container w-50">
        <font size="6">View All User</font>
        <hr />
    </div>
</center>
<table class="table">
    <tr>
        <th>User Id</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Username</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.UserId</td>
            <td>@item.FirstName</td>
            <td>@item.LastName</td>
            <td>@item.Email</td>
            <td>@item.Phone</td>
            <td>@item.UserName</td>
        </tr>
    }
</table>

